html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none !important;
}

.header {
  background-color: black;
  width: 100%;
  color: white;
  padding: 1rem;
  z-index: 10;
}

.headerFlex {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-left: -5rem;
}
.headerFlex img {
  width: 18rem;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.navLink a {
  text-decoration: none;
  font-style: none;
  color: #FFF;
  transition: transform 0.3s ease;
}
.navLink a:hover {
  transform: scale(110%);
}
@media (max-width: 878px) {
  .navLink {
    display: none;
  }
}

.sectionFirst {
  background-color: #000000;
  width: 100%;
  height: 900px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionFirst .buttonFirstDiv {
  display: flex;
  gap: 20px;
}
@media (max-width: 878px) {
  .sectionFirst .buttonFirstDiv {
    flex-direction: column;
    gap: 0;
  }
}
.sectionFirst .buttonFirstDiv a button img {
  filter: invert(80%);
  width: 1.3rem;
}
.sectionFirst .LottieWrapper {
  position: relative;
}
.sectionFirst .LottieWrapper iframe {
  border: none;
  width: 30vw;
  height: 400px;
}
@media (max-width: 878px) {
  .sectionFirst .LottieWrapper iframe {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 878px) {
  .sectionFirst .LottieWrapper {
    margin-top: 5rem;
  }
}
.sectionFirst .LottieWrapper .Lottie {
  width: 40rem;
  position: relative;
  z-index: 2;
}
@media (max-width: 878px) {
  .sectionFirst .LottieWrapper .Lottie {
    width: 100%;
  }
}
.sectionFirst .LottieWrapper .LottieBlob {
  position: absolute;
  top: 0;
  opacity: 60%;
  z-index: 0;
}
@media (max-width: 878px) {
  .sectionFirst .LottieWrapper .LottieBlob {
    width: 100%;
  }
}
@media (max-width: 878px) {
  .sectionFirst {
    height: 700px;
  }
  .sectionFirst iframe {
    width: 21.875rem;
    height: 15rem;
  }
}

.sectionFirstText {
  z-index: 1;
  margin-top: 6rem;
  margin-right: 10rem;
  margin-bottom: 5rem;
  width: 30%;
  font-size: 1.8rem;
}
.sectionFirstText h1 {
  color: #FFF;
  font-weight: 500;
}
@media (max-width: 878px) {
  .sectionFirstText h1 {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
@media (max-width: 878px) {
  .sectionFirstText {
    order: 3;
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
  }
}

.sectionFirstButton {
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 3rem;
  color: #002f8d;
  overflow: hidden;
  padding: 0.8rem 1.5rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid rgb(210, 210, 210);
  background-color: transparent;
  border-radius: 100rem;
  font-size: 1.2rem;
  color: #FFF;
  transition: background-color 0.2s ease;
  margin-top: 3rem;
}
.sectionFirstButton::after {
  background-color: #002f8d;
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.sectionFirstButton:hover::after {
  transform: translate(0, 0);
}
.sectionFirstButton:hover {
  border: 2px solid transparent;
  transform: scale(1.05);
  will-change: transform;
  background-color: #002f8d;
}

.sectionFirstButtonHighlight {
  cursor: pointer;
  color: #002f8d;
  overflow: hidden;
  padding: 0.8rem 1.5rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s all ease-in-out;
  will-change: transform;
  z-index: 0;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #002f8d;
  border-radius: 100rem;
  font-size: 1.2rem;
  color: #FFF;
  transition: all 0.3s ease;
  margin-top: 3rem;
  border: none;
}
.sectionFirstButtonHighlight::after {
  background-color: #002f8d;
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s all ease-out;
  will-change: transform;
  z-index: -1;
}
.sectionFirstButtonHighlight:hover::after {
  transform: translate(0, 0);
}
.sectionFirstButtonHighlight:hover {
  transform: scale(1.05);
  will-change: transform;
  background-color: #002f8d;
}

.sectionSecond {
  height: 96vh;
  width: 100%;
  background-color: #ffffff;
}
.sectionSecond .sectionSecondFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20.7rem;
  gap: 40px;
}
.sectionSecond .sectionSecondFlex h3 {
  font-size: 2.5rem;
  font-weight: lighter;
}
.sectionSecond .sectionSecondFlex span {
  color: #002f8d;
}
.sectionSecond .sectionSecondFlex a {
  cursor: pointer;
  border: 2px solid currentColor;
  color: #002f8d;
  overflow: hidden;
  padding: 0.8rem 1rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s all ease-in-out;
  will-change: transform;
  z-index: 0;
  text-align: center;
  width: 10rem;
  border: 2px solid rgb(210, 210, 210);
  background-color: #002f8d;
  font-size: 1.1rem;
  color: #FFF;
  transition: background-color 0.2s ease;
  margin-top: 3rem;
}
.sectionSecond .sectionSecondFlex a img {
  margin-left: 8px;
  width: 20px;
}
.sectionSecond .sectionSecondFlex a::after {
  background-color: #002f8d;
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.sectionSecond .sectionSecondFlex a:hover::after {
  transform: translate(0, 0);
}
.sectionSecond .sectionSecondFlex a:hover {
  border: 2px solid transparent;
  transform: scale(1.01);
  will-change: transform;
  background-color: #002f8d;
  transition: all 0.2s ease;
}
@media (max-width: 868px) {
  .sectionSecond .sectionSecondFlex h3 {
    font-size: 1.5rem;
    font-weight: lighter;
  }
}
.sectionSecond .sectionSecondCardFlex {
  display: flex;
  justify-content: center;
  gap: 1.875rem;
  margin-top: 3.5rem;
}
@media (max-width: 868px) {
  .sectionSecond .sectionSecondCardFlex {
    flex-direction: column;
  }
}
.sectionSecond .sectionSecondCardFlex .sectionSecondCard {
  padding: 1.525rem 1rem;
  width: 350px;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid #d6d6d6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.575rem;
  transition: all 0.4s ease;
}
.sectionSecond .sectionSecondCardFlex .sectionSecondCard img {
  width: 4rem;
}
.sectionSecond .sectionSecondCardFlex .sectionSecondCard h4 {
  font-size: 24px;
  font-weight: 500;
}
.sectionSecond .sectionSecondCardFlex .sectionSecondCard:hover {
  border: 2px solid #007acb;
}

.sectionThird {
  width: 100%;
  background-color: #000000;
}
@media (max-width: 1378px) {
  .sectionThird {
    margin-top: 45rem;
  }
}
@media (max-width: 878px) {
  .sectionThird {
    margin-top: 70rem;
    height: 230vh;
  }
}
.sectionThird .sectionThirdFlex {
  display: flex;
}
@media (max-width: 878px) {
  .sectionThird .sectionThirdFlex {
    flex-direction: column;
  }
}
.sectionThird .sectionThirdFlex .sectionThirdImage {
  width: 50%;
  aspect-ratio: 1.2/1;
}
@media (max-width: 878px) {
  .sectionThird .sectionThirdFlex .sectionThirdImage {
    width: 100%;
  }
}
.sectionThird .sectionThirdContent {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 6rem;
  color: #FFF;
}
.sectionThird .sectionThirdContent h3 {
  font-weight: 500;
  margin-top: 5rem;
}
.sectionThird .sectionThirdContent h2 {
  font-size: 2rem;
}
.sectionThird .sectionThirdContent p {
  margin-top: 3rem;
  font-size: 1rem;
}
.sectionThird .sectionThirdContent a {
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 3rem;
  color: #002f8d;
  overflow: hidden;
  padding: 0.8rem 1.5rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  width: 10rem;
  border: 2px solid rgb(210, 210, 210);
  background-color: transparent;
  border-radius: 100rem;
  font-size: 1.1rem;
  color: #FFF;
  transition: background-color 0.2s ease;
  margin-top: 3rem;
}
.sectionThird .sectionThirdContent a::after {
  background-color: #002f8d;
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.sectionThird .sectionThirdContent a:hover::after {
  transform: translate(0, 0);
}
.sectionThird .sectionThirdContent a:hover {
  border: 2px solid transparent;
  transform: scale(1.05);
  will-change: transform;
  background-color: #002f8d;
}
@media (max-width: 1380px) {
  .sectionThird .sectionThirdContent a {
    margin-bottom: 2rem;
  }
}

.sectionFourth {
  height: 93.5vh;
  width: 100%;
  background-color: #ffffff;
  padding: 10vh 20vw;
  margin-top: 10rem;
}
@media (max-width: 878px) {
  .sectionFourth {
    margin-top: 30rem;
    height: 80vh;
  }
}
.sectionFourth .sectionFourthFlex {
  display: flex;
  gap: 20px;
}
@media (max-width: 878px) {
  .sectionFourth .sectionFourthFlex {
    flex-direction: column;
  }
}
.sectionFourth .sectionFourthFlex .sectionFourthInsideFlex {
  display: flex;
  align-items: center;
  gap: -10;
}
.sectionFourth .sectionFourthFlex .sectionFourthInsideFlex .sectionFourthSmartphone {
  height: 26vh;
  margin-bottom: 20px;
}
.sectionFourth .sectionFourthFlex .sectionFourthInsideFlex .sectionFourthTablet {
  height: 45vh;
}
.sectionFourth .sectionFourthFlex .sectionFourthInsideFlex .sectionFourthKindle {
  height: 32vh;
  margin-left: -35px;
  margin-bottom: -10px;
}
@media (max-width: 878px) {
  .sectionFourth .sectionFourthFlex .sectionFourthInsideFlex {
    flex-direction: column;
    justify-content: center;
  }
  .sectionFourth .sectionFourthFlex .sectionFourthInsideFlex .sectionFourthKindle {
    margin-left: 10px;
  }
}
.sectionFourth .sectionFourthContent {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  color: #000000;
}
@media (max-width: 878px) {
  .sectionFourth .sectionFourthContent {
    width: 100%;
    padding-top: 4rem;
    padding-left: 0.5rem;
    text-align: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 20vh;
  }
}
.sectionFourth .sectionFourthContent h2 {
  font-size: 2.5rem;
}
@media (max-width: 878px) {
  .sectionFourth .sectionFourthContent h2 {
    font-size: 3rem;
  }
}
.sectionFourth .sectionFourthContent h3 {
  font-size: 1.2rem;
  text-decoration: line-through;
  color: #8F8F8F;
}
.sectionFourth .sectionFourthContent p {
  margin-top: 2rem;
  font-size: 1rem;
}
@media (max-width: 878px) {
  .sectionFourth .sectionFourthContent p {
    margin-left: -4vw;
  }
}
.sectionFourth .sectionFourthContent a {
  cursor: pointer;
  border: 2px solid currentColor;
  color: #002f8d;
  overflow: hidden;
  padding: 0.8rem 1rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s all ease-in-out;
  will-change: transform;
  z-index: 0;
  text-align: center;
  width: 10rem;
  border: 2px solid rgb(210, 210, 210);
  background-color: #002f8d;
  font-size: 1.1rem;
  color: #FFF;
  transition: background-color 0.2s ease;
  margin-top: 3rem;
}
.sectionFourth .sectionFourthContent a img {
  margin-left: 8px;
  width: 20px;
}
.sectionFourth .sectionFourthContent a::after {
  background-color: #002f8d;
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.sectionFourth .sectionFourthContent a:hover::after {
  transform: translate(0, 0);
}
.sectionFourth .sectionFourthContent a:hover {
  border: 2px solid transparent;
  transform: scale(1.01);
  will-change: transform;
  background-color: #002f8d;
  transition: all 0.2s ease;
}

.animationFrame1 {
  width: 40rem;
}
@media (max-width: 878px) {
  .animationFrame1 {
    width: 22rem;
  }
}

.animationFrame2 {
  width: 35rem;
  padding-left: 2rem;
}
@media (max-width: 878px) {
  .animationFrame2 {
    width: 20rem;
  }
}

.bgVideoStyle {
  position: absolute;
  height: auto;
  width: 1864px;
  left: 0;
  right: auto;
  top: 0;
  z-index: 0;
  filter: brightness(3%);
}
@media (max-width: 878px) {
  .bgVideoStyle {
    display: none;
  }
}

@media (max-width: 878px) {
  body {
    overflow-x: hidden;
  }
  .sectionFirst {
    margin-top: -10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .sectionFirstText {
    width: 100%;
    font-size: 1.2rem;
  }
  .bgVideoStyle {
    margin-top: 7rem;
  }
}
.Footer {
  margin-top: 40%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 5rem 30px 5rem;
  background-color: #000000;
  overflow: visible;
  align-content: center;
  flex-wrap: nowrap;
  gap: 60;
  border-radius: 0px 0px 0px 0px;
  border-color: #8F8F8F;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  color: #fff;
}
@media (max-width: 878px) {
  .Footer {
    margin-top: 100rem;
  }
}
.Footer .FooterContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.Footer .FooterContent p {
  color: #999999;
}
.Footer .FooterSocials {
  display: flex;
  gap: 2rem;
}
.Footer .FooterSocials img {
  height: 32px;
  filter: invert(1) saturate(0.81);
}

.svgBgSeparator {
  width: 100%;
  border: none;
  outline: none;
  margin-top: -1px;
  margin-bottom: -1px;
}

html {
  max-width: 100%;
}/*# sourceMappingURL=styles.module.css.map */